<html>
<head>
<title>Main</title>
</head>

<body style="padding: 0px; margin: 0px;">
    {{#bills}}
        <div>
            <a href="{{link}}"><h2>{{name}}</h2></a>
            <div style="margin-right: 5%">
                <p>Summary: {{summary}}</p>
                <p>Last Action: {{lastDate}}</p>
                <p>Senate Pass: {{senatePass}} and House Pass: {{housePass}}</p>
            </div>
        </div>
    {{/bills}}
</body>
</html>