<html>
<head>
    <title>{{name}}</title>
    <link rel="stylesheet"
          href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
          integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href='/home' class="navbar-brand"><span style='color:#ff1a1a'>Circle</span> of <span
            style='color:#00e600;'>Vote<span style='font-size: 15px'>$</span></span></a>
    <div class="collapsem navbar-collapse" id="navbarNav">
        <ul class='navbar-nav'>
            <li class='nav-item'><a href='/about' class='nav-link'>About</a></li>
        </ul>
    </div>
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id='search'>
        <button id="button" class="btn btn-outline-dark my-2 my-sm-0" onclick="click">Search</button>
    </form>
</nav>
<div style='margin-right: 2%'>
    <h1 style='margin: 2%'>{{name}}</h1>
    <div style="margin-left: 5%">
        <h3>Summary:</h3>
        <p style='margin-left: 5%'>{{summary}}</p>
        <h3>Last Action:</h3>
        <p style='margin-left: 5%'>{{lastDate}}</p>
        <h3>Pass:</h3>
        <div style='margin-left: 5%'>
            {{#actionShow}}<p>Senate: {{senatePass}} and House: {{housePass}}</p>{{/actionShow}}
            {{^actionShow}}<p>Has not been passed</p>{{/actionShow}}
        </div>

        {{#votePresent}}
            <h3 id="voteSection">Votes:</h3>
        {{/votePresent}}

        <div class="card-columns" style="column-count: 3;">
            {{#vote}}
                <div class='card {{#pass}}text-white bg-success{{/pass}} {{^pass}}text-white bg-danger{{/pass}}'
                     style='width: 300px;'>
                    <h5 class='card-header'>{{chamber}}</h5>
                    <div class='card-body'>
                        <h5 class='card-title'>{{result}}</p>
                            <div class='card-text'>
                                <p>{{date}}</p>
                                <p>{{question}}</p>
                                <a href="{{link}}" class="btn btn-outline-light">View Graph</a>
                            </div>
                    </div>
                </div>
            {{/vote}}
        </div>
        {{#actionPresent}}
            <h3>Action:</h3>
        {{/actionPresent}}
        <div class="card-columns" style="column-count: 5;">
            {{#actions}}
                <div class='card' style="width: 200px;">
                    <h5 class='card-header'>{{chamber}} | {{type}}</h5>
                    <div class='card-body'>
                        <div class='card-text'>
                            <p>{{date}}</p>
                            <p>{{description}}</p>
                        </div>
                    </div>
                </div>
            {{/actions}}
        </div>

    </div>
</div>
</body>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js"
        integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js"
        integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9"
        crossorigin="anonymous"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-117836235-1"></script>
<script>$(document).ready(function () {
    $('body').bootstrapMaterialDesign();
});</script>
<script>
    $('#button').click(function () {
        window.location.replace('/search/' + encodeURIComponent($('#search').val()))
        return false
    })
</script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'UA-117836235-1');
</script>
<script>
    $('#button').click(function () {
        window.location.replace('/search/' + encodeURIComponent($('#search').val()))
        return false
    })
</script>
</html>